[
 %% Fiar
 {
   fiar,
   [
    {client_auth, {<<"CLIENT_KEY">>, <<"CLIENT_SECRET">>}},
    {http_port, 8080},
    {http_listener_count, 10},
    {tasks_interval, 60} %% in seconds
   ]
 },
 %% Emysql
 {
   emysql,
   [
    {default_timeout, 30000},
    {lock_timeout,    30000}
   ]
 },
 %% Sumo DB
 {
   sumo_db,
   [
    {log_queries, false},
    {query_timeout, 30000},
    {storage_backends,
     [{fiar_mysql_backend,
       sumo_backend_mysql,
       [{username, "root"},
        {password, ""},
        {host,     "127.0.0.1"},
        {port,     3306},
        {database, "fiar"},
        {poolsize, 10}]
      }
     ]
    },
    {repositories,
     [{mysql,
       sumo_repo_mysql,
       [{storage_backend, fiar_mysql_backend},
        {workers, 10}]
      }
     ]
    },
    {docs,
     [
      {fiar_match, mysql}
     ]
    },
    {events,
     []
    }
   ]
 }
].