[
 %% Fiar
 {
   fiar,
   [
    {http_port, 8080},
    {http_listener_count, 10}
   ]
 },
 %% Emysql
 {
   emysql,
   [
    {default_timeout, 30000},
    {lock_timeout,    30000}
   ]
 },
 %% Sumo DB
 {
   sumo_db,
   [
    {log_queries, false},
    {query_timeout, 30000},
    {storage_backends,
     [{fiar_mysql_backend,
       sumo_backend_mysql,
       [{username, "root"},
        {password, ""},
        {host,     "127.0.0.1"},
        {port,     3306},
        {database, "fiar"},
        {poolsize, 10}]
      }
     ]
    },
    {repositories,
     [{mysql,
       sumo_repo_mysql,
       [{storage_backend, fiar_mysql_backend},
        {workers, 10}]
      }
     ]
    },
    {docs,
     [
      {fiar_match, mysql},
      {fiar_user, mysql}
     ]
    },
    {events,
     [{fiar_match, fiar_events}]
    }
   ]
 },
 %% Lager
 {
   lager,
   [
    {colored, true},
    {async_threshold, 200},
    {async_threshold_window, 5},
    {error_logger_hwm, 500},
    {handlers,
     [
      {lager_console_backend,
       [debug,
        {lager_default_formatter,
         [
          color, time, " [", severity, "]",
          " [", {module, ""}, ":", {function, ""}, ":", {line, ""}, "] ",
          message, "\e[0m\n"
         ]
        }
       ]
      }
     ]
    }
   ]
 },
 {
   sasl,
   [
    {sasl_error_logger, false},
    {errlog_type, error}
   ]
 }
].